.comment-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	p {
		margin-bottom: 0;
	}
}

.comment-item {
	margin-bottom: 25px;

	&.-answered {
		.comment-text {
			padding-left: 50px;

			@include max-w(767) {
				padding-left: 30px;
			}
		}
	}
}