.map-wrap {
	height: 400px;
	position: relative;

	@include max-w(991) {
		height: 300px;
	}

	@include max-w(575) {
		height: 200px;
	}

	#map {
		width: 100%;
		height: 100%;
	}

	// DO NOT SHOW LABEL ON GOOGLE MAP
	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
		display: none;
	}
	.gmnoprint div {
		background: none !important;
	}
}