.quote-block {
	background-color: #E6E6E6;
	padding: 1.5625rem 2.5rem;
	position: relative;

	@include max-w(767) {
		padding: 1rem;
	}

	&:before {
		content: "“";
		display: inline-block;
		position: absolute;
		text-indent: -7px;
	}

	&:after {
		content: "“";
		display: inline-block;
		position: absolute;
	}
}