.services-post-item {
	margin-bottom: 2.5rem;

	@include max-w(767) {
		margin-bottom: 2rem;
	}

	@include max-w(575) {
		margin-bottom: 1.25rem;
	}

	.img-decoration {
		margin-bottom: 1rem;

		@include max-w(767) {
			margin-bottom: 0.625rem;
		}

		a {
			transition: 0.3s;

			&:hover {
				opacity: 0.9;
			}
		}
	}
}