h2, .h2 {
	text-transform: uppercase;
	margin-bottom: 3.4375rem;
	padding-right: 30px;

	@include max-w(991) {
		font-size: 2.8rem;
		margin-bottom: 2.5rem;
	}

	@include max-w(767) {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	@include max-w(575) {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
	}
}

h4, .h4 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 1.875rem;
	margin-bottom: 0.875rem;
	line-height: 1.1;

	@include max-w(991) {
		font-size: 1.5rem;
	}

	@include max-w(575) {
		margin-bottom: 0.625rem;
	}

	&.-decoration {
		margin-bottom: 2.5rem;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;

		@include max-w(575) {
			margin-bottom: 1.5rem;
		}

		&:before {
			content: "";
			display: inline-block;
			width: 80px;
			height: 2px;
			background-color: $primary;
			margin-right: 30px;

			@include max-w(767) {
				width: 50px;
				margin-right: 15px;
			}
		}

		@include max-w(767) {
			margin-bottom: 2rem;
		}

		&.-small-bottom-indent {
			margin-bottom: 1.25rem;

			@include max-w(575) {
				margin-bottom: 0.625rem;
			}
		}
	}
}

.text-block {
	padding-right: 60px;

	@include max-w(767) {
		padding-right: 30px;
	}

	@include max-w(575) {
		padding-right: 0;
	}
}

p {
	@include max-w(575) {
		margin-bottom: 1rem;
	}
}