.welcome-decoration-board {
	.img-decoration {
		margin-bottom: 30px;

		@include max-w(575) {
			margin-bottom: 15px;
		}
	}

	.row {
		> div {
			&:nth-child(3), &:nth-child(4) {
				.img-decoration {
					margin-bottom: 0;
				}
			}
		}
	}
}