.works-main-item {

	.img-decoration-wrap {
		margin-bottom: 10px;

		a:hover {
			img {
				opacity: 0.9;
			}
		}

		a {
			img {
				opacity: 1;
				transition: 0.3s;
			}
		}
	}

	.works-main-item-text {
		padding-top: 20px;

		@include max-w(991) {
			padding-top: 0;
		}

		.text-block {
			margin-bottom: 20px;
		}

		.section-title {
			display: inline-block;
			margin-bottom: 0;
		}
	}
}