.actions-list {
	white-space: nowrap;
	line-height: 1;

	&__item {
		display: inline-block;
		margin: 5px 0;

		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		transition: color 0.3s;
	}
}