.advantages-grid {
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__col {
		padding: 0 10px;
		max-width: 16.666666666666%;
		flex-basis: 16.666666666666%;

		@include max-w(xxl) {
			max-width: 25%;
			flex-basis: 25%;
		}

		@include max-w(lg) {
			max-width: 33.333333333%;
			flex-basis: 33.333333333%;
		}

		@include max-w(md) {
			max-width: 50%;
			flex-basis: 50%;
		}

		@include max-w(sm) {
			max-width: 100%;
			flex-basis: 100%;
		}
	}
}