.btn {
	&-md {
		min-width: 195px;
		min-height: 50px;
	}
}

.phone-link {
	font-size: rem(17px);
	letter-spacing: letter-spacing(20, 17);
	transition: color 0.3s;
	white-space: nowrap;
}

.vertical-btn {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	transform: rotate(180deg);
	display: inline-block;
	margin: 0;
	text-align: center;

	@include max-w(sm) {
		writing-mode: initial;
		transform: none;
	}

	&.-md {
		font-size: rem(14px);
		letter-spacing: letter-spacing(20, 14);
		text-transform: uppercase;
		padding: 12px;
		min-height: 200px;

		@include max-w(sm) {
			min-height: auto;
			min-width: 200px;
		}
	}

	&.-primary {
		background-color: $primary;
		color: $white;
		transition: background-color 0.3s;

		&:hover {
			background-color: darken($primary, 10%);
		}
	}

	&__icon {
		display: inline-block;
		font-size: 10px;
		margin-bottom: 10px;
		transform: rotate(180deg);

		@include max-w(sm) {
			margin-bottom: 0;
			margin-right: 10px;
			transform: rotate(90deg);
		}
	}
}