.search-item {
	display: flex;
	align-items: center;

	&__input {
		border: none;
		border-bottom: 1px solid rgba($gray-500, 0.2);
		color: $gray-600;
		font-weight: 300;
		font-style: italic;
		height: 65px;
		width: 100%;
		padding-right: 10px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		border: none;
		padding: 0;
		height: 65px;
		width: 65px;
		transition: background-color 0.3s, border-bottom-color 0.3s;
		border-bottom: 1px solid transparent;

		&:hover {
			background-color: darken($white, 5%);
			border-bottom-color: rgba($gray-500, 0.2);
		}
	}
}