.navigation-list {
	font-size: rem(14px);
	letter-spacing: letter-spacing(20, 14);
	text-transform: uppercase;

	&.-vertical {
		.navigation-list__item {
			display: block;
			margin: 0 0 15px 0;
		}
	}

	&__item {
		display: inline-block;
		margin: 2px 0;

		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	&__link {
		transition: color 0.3s;
	}
}