.section {
	padding: 40px 0;

	&-main-slider {
		padding-top: 0;
	}

	&-title-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;

		@include max-w(md) {
			display: block;
		}

		&__left-item, &__right-item {
			margin-bottom: 0;
		}

		&__left-item {
			margin-right: 30px;

			@include max-w(md) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	&-categories, &-bestsellers {
		.slick-dots {
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 50px;
		}

		.slick-dotted.slick-slider {
			margin-bottom: 0;
		}
	}
}