.social-list {
	font-size: rem(20px);
	line-height: 1;
	white-space: nowrap;

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link {
		color: $gray-500;
		transition: color 0.3s;
	}
}