.form-block {
	max-width: 495px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #E1E3E6;
	box-shadow: 9px 32px 35px rgba(0, 0, 0, 0.0464653);
	border-radius: 14px;
	padding: 20px;

	&__search-block {
		margin-bottom: 20px;
	}

	&__actions-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__action-link {
		font-weight: 500;
		color: #232323;
		font-size: 14px;
		letter-spacing: -0.5px;
		text-decoration: none;
		padding-top: 3px;
		transition: color 0.3s;

		@media screen and (min-width: 576px) {
			font-size: 16px;
		}

		&:hover {
			color: $primary;
		}
	}

	&__checkbox-list-block {
		padding: 15px 0;
	}

	&__checkbox-list {
		@include listReset;
		@include customScrollbar(8px, rgba(52, 52, 52, 0), rgba(52, 52, 52, 0.51), 4px);

		max-height: 250px;
		overflow: auto;
		padding: 2px 0;
	}

	&__checkbox-list-item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__btn-block {
		padding-top: 20px;
		border-top: 1px solid #ECECEC;
		text-align: right;
	}
}

.form-control {
	@include placeholder {
		color: #343434;
		transition: opacity 0.3s;
	}

	display: block;
	width: 100%;
	border-radius: 0;
	border: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ECECEC;
	height: 40px;
	color: #343434;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	outline: none;
	transition: border-color 0.3s;

	&:focus {
		border-bottom-color: $primary;

		@include placeholder {
			opacity: 0;
		}
	}
}

.switcher-item {
	display: inline-flex;
	cursor: pointer;

	&__input {
		@include visuallyHidden;

		&:checked {
			+ .switcher-item__block-wrap {
				.switcher-item__block {
					background-color: $primary;

					&:after {
						left: calc(100% - 1px);
						transform: translate(-100%, -50%);
					}
				}
			}
		}
	}

	&__block-wrap {
		display: inline-flex;
		align-items: center;
	}

	&__block {
		position: relative;
		width: 37px;
		height: 22px;
		border-radius: 22px;
		background-color: rgba(0, 28, 61, 0.08);
		transition: background-color 0.3s;

		&:after {
			@include sizeElement(20px);

			content: '';
			position: absolute;
			top: 50%;
			left: 1px;
			transform: translate(0, -50%);
			z-index: 5;
			display: block;
			border-radius: 50%;
			background-color: #FFFFFF;
			box-shadow: 0px 2.17647px 5.80392px rgba(0, 0, 0, 0.15);
			transition: left 0.3s, transform 0.3s;
		}
	}

	&__text {
		font-weight: 500;
		padding-left: 10px;
		padding-top: 3px;
		color: #232323;
		font-size: 14px;
		letter-spacing: -0.5px;

		@media screen and (min-width: 576px) {
			font-size: 16px;
		}
	}
}

.checkbox-item {
	position: relative;
	display: inline-block;
	cursor: pointer;

	&__input {
		@include visuallyHidden;

		&:checked {
			+ .checkbox-item__block {
				.checkbox-item__checkmark {
					background-color: $blue;

					&:after {
						opacity: 1;
					}
				}
			}
		}

		&:disabled {

			+ .checkbox-item__block {
				cursor: not-allowed;

				.checkbox-item__checkmark {
					background-color: #ECECEC;

					&:after {
						background-image: url("data:image/svg+xml;utf8,<svg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.5656 2.38749L6.19322 9.75932C5.64729 10.3054 4.76171 10.3054 4.21526 9.75932L0.409603 5.95339C-0.136534 5.40735 -0.136534 4.52166 0.409603 3.97553C0.955845 3.42928 1.84136 3.42928 2.38736 3.97532L5.20453 6.79253L11.5875 0.409526C12.1337 -0.136716 13.0193 -0.136302 13.5654 0.409526C14.1114 0.955664 14.1114 1.84104 13.5656 2.38749Z' fill='%23C4C4C4'/></svg>");
						opacity: 1;
					}
				}
			}
		}
	}

	&__block {
		position: relative;
		padding-left: 37px;
	}

	&__checkmark {
		@include sizeElement(22px);

		position: absolute;
		top: -2px;
		left: 0;
		border-radius: 8px;
		background-color: #ECECEC;
		transition: background-color 0.3s;

		&:after {
			content: '';
			position: absolute;
			top: 53%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 14px;
			height: 10px;
			background-image: url("data:image/svg+xml;utf8,<svg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.5656 2.38749L6.19322 9.75932C5.64729 10.3054 4.76171 10.3054 4.21526 9.75932L0.409603 5.95339C-0.136534 5.40735 -0.136534 4.52166 0.409603 3.97553C0.955845 3.42928 1.84136 3.42928 2.38736 3.97532L5.20453 6.79253L11.5875 0.409526C12.1337 -0.136716 13.0193 -0.136302 13.5654 0.409526C14.1114 0.955664 14.1114 1.84104 13.5656 2.38749Z' fill='white'/></svg>");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	&__text {
		font-size: 16px;
		color: #343434;
	}
}