html, body {
	height: 100%;
}

.container-fluid {
	max-width: calc(#{$container-fluid-max-width} + #{$grid-gutter-width});

	@include max-w(md) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.container {
	@include max-w(md) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.row {
	@include max-w(md) {
		margin-left: -30px;
		margin-right: -30px;
	}

	[class^="col-"] {
		@include max-w(md) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

::selection {
	color: $white;
	background: $primary;
}