.text-block {
	p:last-child {
		margin-bottom: 0;
	}
}

body {
	@include max-w(lg) {
		font-size: 18px;
		line-height: 1.6;
	}
}

h1, .h1 {
	margin-bottom: 40px;

	@include max-w(lg) {
		font-size: 30px;
	}

	@include min-w(md) {
		margin-bottom: 50px;
	}
}

h2, .h2 {
	margin-bottom: 40px;

	@include max-w(lg) {
		font-size: 26px;
	}

	@include min-w(lg) {
		margin-bottom: 60px;
	}
}

h2, .h3 {

}

h4, .h4 {

}

h5, .h5 {
	margin-bottom: 20px;
	font-weight: 600;

	@include max-w(md) {
		font-size: 20px;
	}
}

h6, .h6 {
	font-family: inherit;
	margin-bottom: 5px;
	font-weight: 400;
	color: $black;

	@include max-w(lg) {
		font-size: 15px;
	}
}

strong {
	color: $black;
}

.price {
	font-size: 48px;
	line-height: 1.4;

	&__currency {
		font-size: 24px;
		font-weight: 500;
	}
}