*, *:before, *:after {
  box-sizing: border-box;
}

body {
	@include flexCenter;

	min-width: 320px;
	font-family: "Campton", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	background-color: #ffffff;
	color: #232323;
	min-height: 100vh;
	padding: 15px;
}