.attention-text-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	@include max-w(575) {
		display: block;
	}

	&__icon {
		font-size: 2.7rem;
		color: $light-apricot;

		@include max-w(575) {
			display: block;
			text-align: center;
			margin-bottom: 15px;
			font-size: 2rem;
		}
	}

	&__text {
		margin-left: 15px;

		@include max-w(575) {
			margin-left: 0;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.-mb-0 {
		margin-bottom: 0;
	}
}