.badge {
	border-width: 2px;
	border-style: solid;
	min-width: 65px;
	min-height: 25px;
	vertical-align: top;
	background-color: $body-bg;

	span {
		position: relative;
		bottom: 1px;
		display: inline-block;
		padding-top: 3px;
	}

	i {
		font-size: 1rem;
		margin-left: 3px;
	}

	&.-html {
		border-color: #DB4B1B;

		i {
			color: #DB4B1B;
		}
	}

	&.-sass {
		border-color: #C8639B;

		i {
			color: #C8639B;
		}
	}

	&.-js {
		border-color: #F9B900;

		i {
			color: #F9B900;
		}
	}

	&.-jquery {
		border-color: #0A69AD;

		i {
			color: #0A69AD;
		}
	}
}

.badge-block {
	display: inline-block;
	font-size: 0;
	text-align: right;

	@include max-w(575) {
		display: none;
	}

	&__badge {
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}

		@include max-w(767) {
			margin-left: 4px;
			margin-top: 2px;
			margin-bottom: 2px;
		}
	}
}