.btn {
	&-md {
		font-size: 1rem;
		min-width: 150px;
		text-transform: uppercase;
		font-weight: 600;

		@include max-w(767) {
			font-size: 0.8rem;
			min-width: 120px;
			padding: 0.4rem 1rem;
		}
	}

	&-icon {
		i {
			margin-left: 5px;
			transition: 0.3s;
		}

		&.-open {
			i {
				transform: rotate(180deg);
			}
		}
	}

	&-primary {
		color: $light-apricot;
	}
}

.link-slideup {
	position: relative;
	display: inline-block;
	overflow: hidden;
	font-weight: 700;
	vertical-align: bottom;
	z-index: 1;

	&.-dark-purple {
		color: $dark-purple;

		&:before {
			background-color: rgba($dark-purple, 0.2);
		}

		&:hover {
			color: $dark-purple;
		}
	}

	&.-white {
		color: $white;

		&:before {
			background-color: rgba($white, 0.2);
		}

		&:hover {
			color: $white;
		}
	}


	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		content: '';
		transition: transform 0.2s;
		transform: translateY(95%);
	}

	&:hover::before,
	&:focus::before {
		transform: translateY(0);
	}
}