.search-input {
	display: block;
	width: 100%;
	border: 1px solid $primary;
	background-color: $white;
	margin-bottom: 1rem;
	padding: 0.7rem 0.7rem;
	line-height: 1.3;
	@include placeholder-opacity(0.5s);
}