.side-navigation {
	position: sticky;
	top: 85px;

	&__search-input {
		margin-bottom: 1rem;
	}

	&__list-group {
		overflow-y: auto;
		max-height: calc(100vh - 9rem);
	}
}

.list-group {
	border-left: 4px solid $dark-purple;

	.list-group-item {
		line-height: 1.3;
		letter-spacing: 0.5px;

		&.active.no-results {
			background-color: transparent;
			color: $primary;
		}

		&:not(.active) .highlight {
			background-color: $primary;
			color: $light-apricot;
		}
	}
}