p {
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin-bottom: 1rem;
}

// SECTION TITLE
.section-title {
	margin-bottom: 1rem;
	padding: 5px 0 5px 10px;
	position: relative;
	z-index: 1;

	&.-primary-border {
		border-bottom: 2px solid rgba($primary, 0.7);
		border-left: 10px solid $primary;
	}

	&.-apricot-border {
		border-bottom: 2px solid rgba($apricot, 0.7);
		border-left: 10px solid $apricot;
	}

	&.-component-title {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.section-title__anchor {
			color: $dark-purple;

			&:hover {
				i {
					opacity: 1;
				}
			}

			i {
				padding-left: 3px;
				color: $apricot;
				opacity: 0;
				transition: 0.3s;
			}
		}
	}

}

.component-block-sub-title {
	margin-bottom: 1rem;
	padding-bottom: 5px;
	padding-left: 8px;
	border-bottom: 2px solid rgba($apricot, 0.7);
	border-left: 5px solid $apricot;
}

.attention-text-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

	&-icon {
		font-size: 2.7rem;
		margin-right: 15px;
		color: $light-apricot;
	}
}

.attention-text {
	color: $light-apricot;

	a {
		color: $light-apricot;

		&:hover {
			color: lighten($light-apricot, 15%);
		}
	}
}

strong {
	&.red-text {
		color: $red;
		font-weight: 500;
		white-space: nowrap;
	}
}

.description-text {
	margin-bottom: 1rem;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}