// DASHED CIRCLE BUTTON

.circle-link {
	position: relative;
	display: inline-block;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	transform: scale(1);
	transition: 0.5s;

	&.-sm {
		width: 70px;
		height: 70px;
		font-weight: 900;
		font-size: 0.75rem;
	}

	&.-md {
		width: 95px;
		height: 95px;
		font-weight: 900;
		font-size: 0.75rem;

		@include max-w(1649) {
			width: 70px;
			height: 70px;
		}
	}

	&.-white-purple {
		color: $secondary;

		&:after {
			border-color: $body-color;
		}

		&:before {
			border-color: $body-color;
		}
	}

	&.-gray {
		color: rgba($white, 0.5);

		&:after {
			border-color: rgba($white, 0.5);
		}

		&:before {
			border-color: rgba($white, 0.5);
		}

		&:hover {
			color: $white;

			&:after {
				border-color: $white;
			}

			&:before {
				border-color: $white;
			}
		}
	}

	// solid
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 2px;
		border-style: solid;
		border-radius: 50%;
		opacity: 1;
		transition: 1s;
	}

	// dashed
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 2px;
		border-style: dashed;
		border-radius: 50%;
		opacity: 0;
		transition: 1s;
		animation: circleRotation 3s infinite;
		animation-timing-function: linear;

		@include max-w(1149) {
			display: none;
		}
	}

	&:hover {
		transform: scale(1.3);

		@include max-w(1149) {
			transform: none;
		}

		&:after {
			opacity: 0;

			@include max-w(1149) {
				opacity: 1;
			}
		}

		&:before {
			opacity: 1;
		}
	}
}

@keyframes circleRotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

// wrap for circle link (for stick)
.circle-link-wrap {
	position: relative;
	display: inline-block;
	padding-bottom: 125px;
	transform: translate(0, 100%);

	@include max-w(1649) {
		padding-bottom: 145px;
	}

	@include max-w(1249) {
		padding-bottom: 100px;
	}

	@include max-w(575) {
		padding-bottom: 70px;
	}

	.circle-link {
		&.-white-purple {
			background-color: $white;
		}
	}

	&:before{
		content: '';
		display: block;
		width: 2px;
		height: 100%;
		background-color: $body-color;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 50%;
		margin-left: -1px;
	}
}

// slide up link
.link-slideup {
	font-weight: 700;
	padding: 0 1px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: text-bottom;
	transform: translate(0, 1px);
	z-index: 1;

	&.-faded-black-text {
		color: rgba($body-color, 0.67);

		border-bottom: 1px solid $body-color;

		&:before {
			background-color: rgba($body-color, 0.67);
		}

		&:hover {
			color: $white;

			@include max-w(1149) {
				color: rgba($body-color, 0.67);
			}
		}
	}

	&.-black-text {
		color: $body-color;

		&:before {
			background-color: $secondary;
		}

		&:hover {
			color: $white;

			@include max-w(1149) {
				color: $body-color;
			}
		}
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		height: 100%;
		content: '';
		transition: transform 0.3s;
		transform: translate(0, 100%);

		@include max-w(1149) {
			display: none;
		}
	}

	&.-without-underline {
		border-bottom: none;
	}

	&:hover::before {
		transform: translateY(0);
	}
}

// side slide link (with borderts)
.side-slide-link {
	position: relative;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

	&:before, &:after {
		content: '';
		position: absolute;
		transition: inherit;
		z-index: -1;

		@include max-w(1149) {
			display: none;
		}
	}

	&:hover {
		transition-delay: .6s;

		@include max-w(1149) {
			transition-delay: 0s;
		}

		&:before {
			transition-delay: 0s;
		}

		&:after {
			transition-delay: .4s;
		}
	}

	&.-from-left {
		&:before, &:after {
			top: 0;
			width: 0;
			height: 100%;
		}

		&:before {
			right: 0;
			border: 2px solid transparent;
			border-left: 0;
			border-right: 0;
		}

		&:after {
			left: 0;
		}

		&:hover {
			&:before, &:after {
				width: 100%;
			}
		}
	}

	&.-white {
		&:hover {
			color: $white;

			@include max-w(1149) {
				color: rgba($white, 0.5);
			}

			&:after {
				background: rgba($white, 0.1);
			}
		}

		&:before {
			border-color: $white;
		}
	}
}

// simple side slide background
.slide-bg {
	position: relative;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

	&:after {
		content: '';
		position: absolute;
		transition: inherit;
		z-index: -1;
		top: 0;
		width: 0;
		height: 100%;
	}

	&:hover:not(.pagination__item--current) {
		&:after {
			width: 100%;
		}
	}

	&.-from-left {
		&:after {
			left: 0;
		}
	}

	&.-from-right {
		&:after {
			right: 0;
		}
	}

	&.-gray {
		&:after {
			background: rgba($white, 0.1);
		}
	}
}

// click animation
.click-animation {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		background: $white;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0;
		transition: all 0.5s ease-in-out;
		pointer-events: none;
	}

	&.-left:before {
		left: 0;
	}

	&.-right:before {
		right: 0;
	}

	&:active {
		&:before {
			width: 0px;
			opacity: 1;
			transition: 0s;
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.click-animation {
		&:before {
			pointer-events: initial;
		}
	}
}

.scroll-top-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: $zindex-pre-fixed;
	background-color: $secondary;
	transition: 0.3s;
	transform: translate(0, 100%);
	margin-bottom: 0;
	color: $white;
	padding: 5px;
	font-size: 0.75rem;

	&.-show {
		transform: translate(0, 0);
	}
}