.text-logo-fixed {
	position: fixed;
	top: 65px;
	left: 60px;
	z-index: $zindex-pre-fixed;

	@include max-w(1649) {
		top: 40px;
		left: 35px;
	}

	@include max-w(1149) {
		position: static;
	}
}

.language-switching-fixed {
	position: fixed;
	top: 70px;
	left: 19%;
	z-index: $zindex-pre-fixed;

	@include max-w(1649) {
		top: 45px;
	}

	@include max-w(1370) {
		left: 17%;
	}

	@include max-w(1149) {
		position: static;
	}
}

.page-navigation-fixed {
	position: fixed;
	top: 75px;
	right: 65px;
	z-index: $zindex-fixed;

	@include max-w(1649) {
		top: 50px;
		right: 40px;
	}

	@include max-w(1149) {
		position: static;
	}
}

.br-block-fixed {
	position: fixed;
	bottom: 70px;
	right: 60px;
	min-width: 30px;
	z-index: $zindex-fixed;
	text-align: center;
	font-size: 0;

	@include max-w(1649) {
		bottom: 45px;
		right: 35px;
	}

	@include max-w(1149) {
		position: static;
		text-align: left;
	}

	&__indicator {
		font-size: 0;
		margin-bottom: 70px;
		transition: 1s;

		@include max-w(1649) {
			margin-bottom: 50px;
		}

		@include max-w(1149) {
			display: none;
		}

		&.-hide {
			opacity: 0;
		}
	}
}

.grid-icon-fixed {
	position: fixed;
	bottom: 60px;
	left: 60px;
	z-index: $zindex-fixed;

	@include max-w(1649) {
		bottom: 35px;
		left: 35px;
	}
}

.background-block-fixed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.2;
	background-color: $black;
	z-index: 1000;
}

.background-strip-fixed {
	position: fixed;
	top: 50%;
	right: 0;
	height: 200px;
	z-index: 1005;

	@include max-w(1649) {
		height: 145px;
	}
}

.big-numbering-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	transform: translate(0, 50%);
	z-index: 1005;
	user-select: none;
}

.pagination-fixed {
	position: fixed;
	top: 50%;
	left: 70px;
	transform: translate(0, -50%);
	z-index: $zindex-pre-fixed;

	@include max-w(1649) {
		left: 45px;
	}
}

.additional-text-fixed {
	position: fixed;
	top: 70px;
	z-index: $zindex-pre-fixed;
	line-height: 1;

	@include max-w(1649) {
		top: 45px;
	}
}

.main-slider-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1010;
}