.animated-input {
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-bottom: 15px;
	height: 66px;

	&:not(.-active):hover {
		.animated-input__label {
			background-color: rgba($secondary, 0.1);

			@include max-w(1149) {
				background-color: transparent;
			}
		}
	}

	&__field {
		position: relative;
		z-index: 100;
		padding: 30px 10px 14px;
		background: transparent;
		opacity: 0;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		display: block;
		width: 100%;
		height: 100%;
	}

	&.-active {
		.animated-input__field {
			outline: none;
			opacity: 1;
			transition: opacity 0s 0.4s;
		}

		.animated-input__label {
			&:before {
				transition-delay: 0.05s;
				transform: translate3d(0, -50px, 0);
			}
		}

		.animated-input__label-text {
			color: $body-color;
			transform: translate3d(0, -33px, 0) scale3d(0.81, 0.81, 1);

			@include max-w(575) {
				transform: translate3d(0, -35px, 0) scale3d(0.81, 0.81, 1);
			}
		}
	}

	&__label {
		position: absolute;
		bottom: 0;
		width: 100%;
		user-select: none;
		pointer-events: none;
		transition: 0.3s;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 100%;
			left: 0;
			background: rgba($secondary, 0.27);
			border-top: 2px solid $secondary;
			transform: translate3d(0, -2px, 0);
			transition: transform 0.4s;
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}
	}

	&__label-text {
		margin-bottom: 0;
		color: rgba($secondary, 0.47);
		position: relative;
		display: block;
		padding: 19px 0;
		width: 100%;
		transform-origin: 0% 100%;
		transition: color 0.4s, -webkit-transform 0.4s;
		transition: transform 0.4s, color 0.4s;
		transition: transform 0.4s, color 0.4s, -webkit-transform 0.4s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	}

	// validation error
	.error:not(.animated-input__field) {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		color: $red;
	}
}

.submit-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.submit-wrap {
	padding: 22px 0;
	line-height: 1;

	&__ajax-loading {
		margin-right: 10px;
		opacity: 0;
		transition: 0.3s;
	}
}

.success-message, .error-message {
	padding: 10px 0;
	transition: 0.3s;
}