.fullpage-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: $zindex-menu;

	&__bg-cols {
		width: 100%;

		[class^="col-"] {
			overflow: hidden;
		}

		.item-col {
			width: 100vw;
			height: 0vh;

			&.-second-col {
				margin-left: -25vw;
			}

			&.-third-col {
				margin-left: -50vw;
			}

			&.-fourth-col {
				margin-left: -75vw;
			}
		}
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: none;
	}

	.paralax-item {
		opacity: 0;
	}
}