.header {
	@include max-w(1149) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 5px 0;
		z-index: $zindex-fixed;
		transition: 0.3s;
	}

	&.-hide {
		@include max-w(1149) {
			transform: translate(0, -100%);
		}
	}

	&__content {
		@include max-w(1149) {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}