.patallax-scene {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 30px;
	z-index: 1;

	&.-z-index-0 {
		z-index: 0;
	}

	&__rectangle-in-slider {
		top: 12%;
		left: -30px;
	}

	&__square-in-strip {
		bottom: -16px;
		right: 13%;
	}

	&__square-in-background-block {
		bottom: 20%;
		left: -16px;
	}

	&__square-in-main-page {
		top: 17%;
		left: 12%;
	}

	&__rectangle-in-main-page {
		bottom: 18%;
		left: 0;
	}

	// menu
	&__square-in-menu-tl {
		top: 150px;
		left: 6%;
	}

	&__rectangle-in-menu-tl {
		top: 370px;
		left: 0;
	}

	&__rectangle-in-menu-tr {
		top: 140px;
		right: 45%;
	}

	&__square-in-menu-m {
		top: 50%;
		left: 37%;
	}

	&__square-in-menu-brm {
		top: 55%;
		right: 13%;
	}

	&__square-in-menu-bl {
		bottom: 300px;
		left: 10%;
	}

	&__rectangle-in-menu-bm {
		bottom: 65px;
		left: 25%;
	}

	&__square-in-menu-br {
		bottom: 145px;
		right: 20%;
	}
}

.rectangle-dec-block {
	width: 145px;
	height: 32px;

	@include max-w(1249) {
		width: 100px;
		height: 25px;
	}
}

.middle-rectangle-dec-block {
	width: 100px;
	height: 32px;

	@include max-w(1249) {
		width: 75px;
		height: 25px;
	}
}

.small-rectangle-dec-block {
	width: 48px;
	height: 32px;

	@include max-w(1249) {
		width: 40px;
		height: 25px;
	}
}

.square-dec-block {
	width: 32px;
	height: 32px;

	@include max-w(1249) {
		width: 25px;
		height: 25px;
	}
}