.progress-item {
	margin-top: -15px;

	@include max-w(1249) {
		margin-top: -10px;
	}

	&__title-percentage {
		margin-bottom: -10px;

		@include max-w(1149) {
			margin-bottom: -5px;
		}
	}

	&__title {
		padding-right: 10px;
	}
}

.progress-strip {
	position: relative;
	width: 0;
	height: 8px;
	background-color: rgba($secondary, 0.27);

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 4px;
		background-color: $secondary;
	}
}