.slice-slider-wrap {
	position: relative;

	.explore-link {
		position: absolute;
		bottom: 18%;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 1;

		@include max-w(1649) {
			bottom: 20%;
		}
	}

	.small-numbering {
		position: absolute;
		top: 70px;
		right: -75px;
		z-index: 1;

		@include max-w(1649) {
			top: 45px;
		}
	}

	.slider-navigation {
		position: absolute;
		bottom: 65px;
		right: -70px;
		z-index: 1;

		@include max-w(1649) {
			bottom: 40px;
		}
	}
}

.slides {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: auto;
	pointer-events: none;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($dark-purple, 0.8);
		z-index: 1;
	}
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;

	&--current {
		opacity: 1;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
	}
}

.uncover {
	overflow: hidden;
	background-image: none !important;
	position: relative;

	&__img {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
	}

	&__slice {
		background-color: $light-purple;
		flex: 1;
	}

	&__slices {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;

		&.uncover__slices--vertical {
			flex-direction: row;

			.uncover__slice {
				box-shadow: 0 5px 0 $white;
			}
		}

		&.uncover__slices--horizontal {
			flex-direction: column;

			.uncover__slice {
				box-shadow: 0 5px 0 $white;
			}
		}

		&.uncover__slices--horizontal-double {
			display: grid;
			grid-template-columns: 50% 50%;
		}

		&.uncover__slices--vertical-double {
			display: grid;
			grid-template-rows: 50% 50%;
		}
	}
}