.small-numbering {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	overflow: hidden;
	user-select: none;

	&__text {
		margin-bottom: 0;
	}

	&__separator {
		display: block;
		width: 95px;
		height: 2px;
		background-color: rgba($white, 0.5);
		margin: 0 20px;
	}
}