.btn {
	min-width: 100px;

	@include max-w(md) {
		font-size: 16px;
		line-height: 1.35;
	}

	@include min-w(md) {
		min-width: 125px;
	}

	&-white {
		background-color: $white;

		&:hover {
			background-color: darken($white, 10%);
		}
	}

	&-lg {
		min-width: 100%;
		padding-top: 15px;
		padding-bottom: 17px;

		@include max-w(sm) {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include min-w(sm) {
			min-width: 200px;
			padding-top: 19px;
			padding-bottom: 22px;
		}
	}

	&-primary {
		color: $white;

		&:hover {
			color: $white;
			background-color: darken($primary, 7%);
		}

		&:focus {
			color: $white;
		}
	}

	&-with-underline {
		position: relative;
		display: inline-block;
		border-bottom: 3px solid $primary;
		padding: 20px 50px 20px 20px;
		font-family: $headings-font-family;
		font-size: 16px;
		font-weight: 600;
		transition: color 0.3s;
		width: 100%;

		@include min-w(sm) {
			vertical-align: middle;
			padding: 25px 85px 25px 20px;
			width: auto;
		}

		@include min-w(md) {
			font-size: 18px;
		}

		&:after {
			@include border-arrow(7, 10, $secondary, r);

			content: '';
			display: inline;
			font-size: 0;
			transition: border-color 0.3s;
			vertical-align: middle;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate(0, -50%);
		}

		&:before {
			content: '';

			position: absolute;
			height: 3px;
			bottom: -3px;
			left: 0;
			width: 0;
			background-color: $secondary;
			transition: width 0.75s;
			display: block;
		}

		&:hover {
			color: $secondary;

			&:after {
				@include border-arrow(7, 10, $primary, r);
			}

			&:before {
				width: 100%;
			}
		}
	}
}

.slider-arrows {
	display: flex;
	align-items: center;

	&__item {
		display: inline-flex;
		line-height: 1;

		&:not(:last-child) {
			margin-right: 60px;
		}
	}

	&__link {
		font-size: 12px;
		transition: color 0.3s;
		padding: 10px 0;

		@include min-w(md) {
			font-size: 16px;
		}
	}
}