.list-with-triangle {
	font-size: 15px;

	@include min-w(md) {
		font-size: 17px;
	}

	li {
		position: relative;
		padding-left: 40px;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&:before {
			@include border-arrow(7, 10, rgba($white, 0.1), r);

			position: absolute;
			top: 7px;
			left: 0;
			content: '';
			display: inline-block;

			@include min-w(md) {
				top: 10px;
			}
		}
	}
}