.social-list {
	font-size: 22px;

	@include min-w(xl) {
		font-size: 20px;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		color: rgba($white, 0.4);
		transition: color 0.3s;
	}
}